@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --black: hsl(0, 0%, 0%);
	--anti-flash: hsl(0, 0%, 94%);
	--orioles-orange: hsl(11, 100%, 56%);
	--vampire-black: hsl(0, 0%, 4%);
	--dark-charcoal: hsl(0, 0%, 20%);
	--dark-granite: hsl(0, 0%, 40%);
	--spanish-gray: hsl(0, 0%, 60%);
	--platinum: hsl(0, 0%, 90%);

  font-size: 1vw;
}

:root.dark {
  --fg: var(--anti-flash);
  --bg: var(--black);
  --accent: var(--orioles-orange);
  --lighter: var(--dark-granite);
}

:root.light {
  --bg: var(--anti-flash);
  --fg: var(--black);
  --accent: var(--orioles-orange);
  --lighter: var(--dark-granite);
}

html {
  overflow: hidden;
}

#app {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100dvh;
  padding: 2rem;
  font-family: 'Space Grotesk';
  color: var(--fg);
  background-color: var(--bg);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 2.4rem;
}

.theme {
  width: .9rem;
  color: var(--fg);
  transition: .3s color ease-out;
}

.time span{
  font-weight: 300;
}
/* END HEADER */


/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.mail {
  font-family: 'Open Sans';
  color: var(--lighter);
}

.mail a{
  position: relative;
  color: var(--fg);
  font-weight: 400;
}

.mail a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: .1rem;
  background: currentColor;
  pointer-events: none;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.mail a:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.links {
  display: flex;
  flex-flow: column;
  padding-right: 1rem;
}

.links picture {
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.links a{
  position: relative;
  font-size: 4rem;
  font-weight: 300;
}

.links a::before {
  content: attr(data-number);
  position: absolute;
  top: 0;
  right: 100%;
  left: -4rem;
  font-size: 2rem;
  color: var(--accent);
  transition: .2s ease-out;
  opacity: 0;
}

.links a:hover::before {
  transform: translateX(1rem);
  opacity: 1;
}

/*END FOOTER */
